<!DOCTYPE html>
<html class="has-background-grey-dark is-bold">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title>RimX Inc.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-dark is-bold is-flex-mobile">
      <div class="hero-body">
        <div class="container">
          <nav class="level">
            <!-- Left side-->
            <div class="level-left">
              <div class="level-item has-text-centered"><img src="images/logo.png"></div>
              <div class="level-item"></div>
              <div class="level-item"></div>
              <div class="level-item"></div>
              <div class="level-item">   </div>
              <div class="level-item"></div>
              <div class="level-item">
                <p class="subtitle is-3"><strong>The leaders to fix rims</strong></p>
              </div>
            </div>
            <!-- Right side-->
            <div class="level-right">
              <p class="level-item has-text-centered"><a class="link is-info">Contact Us</a></p>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="tile is-dark is-bold">
          <article class="message is-dark">
            <div class="message-body">
              Professional Mobile Rim Repairs in the GTA
              Rims and take a lot of punishment out on the road and are one of the most common parts of the car to suffer from damage. If you need quality repairs from a leading rim repair company, look no further than RIMX INC.
              We offer a standard refurbishment service in addition to resprays of sports rims with a commitment to providing the highest quality of workmanship at an affordable cost.
              Why chose us:
              We make rim repair more convenient for you
              We are friendly and professional group of people
              We handle a wide range of rim services
              Same day service for most repairs and services
              We get the job done right- the first time.
            </div>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>