doctype html
html.has-background-grey-light
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hello Bulma!
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.1.0/js/all.js')
  body
    section.hero.is-dark.is-bold
      div.hero-body
        div.container
          nav.level.is-mobile
            // Left side
            .level-left
              .level-item.has-text-centered
                p.title.is-1
                  strong RimX
              .level-item            
              .level-item.has-text-centered
                p.subtitle.is-3.has-text-grey
                  strong The leaders to fix rims
            // Right side
            .level-right
              p.level-item.has-text-centered
                a.link.is-info Contact Us
    section 
      div.container
        div.tile.is-dark.is-bold
          article.message.is-dark
            .message-body
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              strong Pellentesque risus mi
              | , tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum 
              a felis venenatis
              |  efficitur. Aenean ac 
              em eleifend lacus
              | , in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
